<%-include('partials/header')%> <%-include('partials/navbar')%>

<div class="container">
  <br />
  <br />
  <!-- Date input -->
  <form action="/" method="POST" class="form-group">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6 col-12">
        <div class="input-group">
          <span class="input-group-text">Start Date:</span>
          <input class="form-control" type="date" id="startDate" name="startDate" />
        </div>
      </div>
      <div class="col-md-5 col-12">
        <div class="input-group">
          <span class="input-group-text">End Date:</span>
          <input class="form-control" type="date" id="startDate" name="endDate" />
        </div>
      </div>
      <div class="col-md-1 col-2">
        <button class="btn btn-primary date-submit" type="submit">Go</button>
      </div>
    </div>
  </form>

  <!-- num of records, sort, filters -->
  <div id="record-list">
    <!-- num of records and sort -->
    <div class="d-flex justify-content-between">
      <h1><span class="sample-count"><%= records.length %></span> Record(s) Fetched</h1>
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="sortMenuBtn">
          Sort
        </button>
        <div class="dropdown-menu" id="sortMenu">
          <button class="sort form-label dropdown-item" data-sort="date">Date</button>
          <button class="sort form-label dropdown-item" data-sort="sample-date">Sample Date</button>
          <button class="sort form-label dropdown-item" data-sort="name">Name</button>
          <button class="sort form-label dropdown-item" data-sort="age">Age</button>
          <button class="sort form-label dropdown-item" data-sort="sample-id">ID</button>
        </div>
      </div>
    </div>
    <!-- Filters -->
    <div id="filters">
      <div class="row">
        <!-- Seggs -->
        <div class="col-md-3 col-12">
          <div class="form-floating">
            <select filter="sex" class="form-select" id="filter-select-sex">
              <option value="all">All</option>
              <option value="m">Male</option>
              <option value="f">Female</option>
              <option value="o">Others</option>
            </select>
            <label for="filter-select-sex">Sex</label>
          </div>
        </div>
        <!-- Progress -->
        <div class="col-md-3 col-12">
          <div class="form-floating">
            <select filter="progress" class="form-select" id="filter-select-growth">
              <option value="all">All</option>
              <option value="growth">Growth</option>
              <option value="contaminated">Contaminated</option>
              <option value="sterile">Sterile</option>
            </select>
            <label for="filter-select-growth">Progress</label>
          </div>
        </div>
        <!-- Specimen -->
        <div class="col-md-3 col-12">
          <div class="form-floating">
            <select filter="specimen" class="form-select" id="filter-select-specimen">
              <option value="all">All</option>
              <option value="puss">Puss</option>
              <option value="urine">Urine</option>
              <option value="blood">Blood</option>
            </select>
            <label for="filter-select-specimen">Specimen</label>
          </div>
        </div>
        <!-- Age -->
        <div class="col-md-3 col-12">
          <div class="form-floating">
            <input filter="age" class="form-control" type="text" id="filter-select-age" placeholder="23-40" />
            <label for="filter-select-age">Age</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Sample list -->
    <ul class="list">
      <% if(records.length > 0) { %> <% records.forEach(sample=>{%>
      <li class="list-details">
        <!-- <h5 class="age"><%=sample.age %></h5> -->
        <div class="card sample-card" age="<%= sample.age %>" specimen="<%=sample.specimen %>" progress="<%= sample.progress %>" sex="<%=sample.sex%>">
          <div class="card-body">
            <div class="sample-info <%=sample.specimen %>">
              <h5 class="card-title"><strong class="sample-id"><%= sample.sample_id %></strong></h5>
              <h6 class="card-subtitle mb-2"><strong>Name: </strong><span class="name"><%= sample.patientName %></span></h6>
              <p class="card-text"><strong>Age: </strong><span class="age"><%=sample.age %></span> <strong>Sex: </strong><span class="sex"><%=sample.sex %></span></p>
              <a href="#" class="card-link"><strong>Specimen: </strong><span class="specimen"><%=sample.specimen %></span> </a>
            </div>
          </div>
          <div class="sensitivity-info card-body">
            <p class="card-text"><strong>Date: </strong><span data-timestamp="<%= new Date(sample.createdAt).getTime()%>" class="date"><%=new Date(sample.createdAt) %></span></p>

            <hr />
            <p class="sample-date" data-timestamp="<%= new Date(sample.sampleDate).getTime()%>"><%= new Date(sample.sampleDate)%></p>
            <h5 class="card-title"><strong>Progress:</strong> <%= sample.progress %></h5>
            <% if(sample.progress == "growth"){%>
            <p class="card-text"><strong>Growth Time: </strong> <%=sample.sensitivity.growthTime %> (min) <strong>Type: </strong><%=sample.sensitivity.aerobic?"Aerobic":"Anaerobic" %></p>

            <% } %> <% if(sample.remarks){ %>
            <strong>Remarks:</strong>
            <p><%= sample.remarks %></p>
            <%} %>
          </div>
          <div class="card-buttons">
            <a class="btn btn-outline-primary" href="/update_progress/<%=sample.sample_id%>">Update Progress</a>
            <a class="btn btn-primary" href="/sample_info/<%=sample.sample_id%>">More</a>
          </div>
        </div>
      </li>

      <% }) %> <% }%>
    </ul>

    <br />
    <br />
  </div>
</div>
<%-include("partials/bottom-menu") %> <%-include("partials/footer") %>

<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/sort.js"></script>
<script type="text/javascript" src="js/searchForm.js"></script>
<script type="text/javascript" src="js/scrollToTop.js"></script>

<script>
  var options = {
    valueNames: ["name", "age", { name: "date", attr: "data-timestamp" }, { name: "sample-date", attr: "data-timestamp" }, "sample-id"],
  };

  var sampleList = new List("record-list", options);
</script>
