<!-- <%-include('partials/header')%> -->

<div id="print-content">
  <style>
    .report-table tr{
      margin-left: 0;
      margin-right: 0;
    }
    .report-table td {
      border: 1px solid #a5a5a5;
      text-align: center;
      max-width: 390mm;
      font-size: 12px;
      margin-left: 0;
      margin-right: 0;


    }

    .report-table td .ab-sensi-container {
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: space-between;
      align-items: center;
    }
  </style>

<h3>ID: <%= sample.sample_id %></h3>
 <p><strong>Name:</strong> <%= sample.patientName %></p>
 <p><strong>Age:</strong> <%= sample.age %></p>
 <p> <strong>Sex:</strong> <%= sample.sex%></p>
 <p><strong>Date:</strong> <%= new Date(sample.createdAt).toUTCString() %></p>

 <hr>

 <%if(sample.sensitivity && sample.sensitivity.growthTime) {%>
     <p><strong>Growth Time:</strong> <%= sample.sensitivity && sample.sensitivity.growthTime %></p>
     <p><strong>Bacteria Count:</strong> <%= sample.sensitivity && sample.sensitivity.bacterialCount %></p>
 <% } %>

   <p><strong>Bacteria type:</strong> <%=sample.sensitivity.aerobic?"Aerobic":"Anaerobic" %></p>
   <p><strong>Progress:</strong> <%=sample.progress %></p>


  <hr />


    <h5>Sensitivity:</h5>
  <% let current_ab = {} %>
  <table class="report-table">
    <% sample.sensitivity.staphylococcusPanel %> <% if(typeof sample.sensitivity.staphylococcusPanel !== 'undefined' && sample.sensitivity.staphylococcusPanel.length > 0){ %>

    <tr>
      <td>
        Staphylococcus Panel:
        <br />
        <%=sample.sensitivity.staphylococcusName%>
      </td>
      <% sample.sensitivity.staphylococcusPanel.forEach(item => current_ab[item.antib]= item.sensitivity); staphylococcusData.forEach(ab =>{ %>
      <td>
        <div class="ab-sensi-container">
          <strong class="ab-heading"><%=ab.name %></strong>

          <p><%= current_ab[ab.name] %></p>
        </div>
      </td>
      <% }) %>
    </tr>
    <% } %> <% current_ab = {} %> <% if(typeof sample.sensitivity.streptococussPanel !== 'undefined' && sample.sensitivity.streptococussPanel.length > 0){ %>

    <tr>
      <td>
        Streptococuss Panel:
        <br />
        <%=sample.sensitivity.streptococussName%>
      </td>
      <% sample.sensitivity.streptococussPanel.forEach(item => current_ab[item.antib]= item.sensitivity); streptococussData.forEach(ab =>{ %>
      <td>
        <div class="ab-sensi-container">
          <strong class="ab-heading"><%=ab.name %></strong>

          <p><%= current_ab[ab.name] %></p>
        </div>
      </td>
      <% }) %>
    </tr>
    <% } %> <% current_ab = {} %><% if(typeof sample.sensitivity.gramNegativePanel !== 'undefined' && sample.sensitivity.gramNegativePanel.length > 0){ %>

    <tr>
      <td>
        Gram Negative Panel:
        <br />
        <%=sample.sensitivity.gramNegativeName%>
      </td>
      <% sample.sensitivity.gramNegativePanel.forEach(item => current_ab[item.antib]= item.sensitivity); gramNegativeData.forEach(ab =>{ %>
      <td>
        <div class="ab-sensi-container">
          <strong class="ab-heading"><%=ab.name %></strong>

          <p><%= current_ab[ab.name] %></p>
        </div>
      </td>
      <% }) %>
    </tr>

    <% } %> <% current_ab = {} %> <% if(typeof sample.sensitivity.pseudomonasPanel !== 'undefined' && sample.sensitivity.pseudomonasPanel.length > 0){ %>

    <tr>
      <td>
        Pseudomonas Panel:
        <br />
        <%=sample.sensitivity.pseudomonasName%>
      </td>
      <% sample.sensitivity.pseudomonasPanel.forEach(item => current_ab[item.antib]= item.sensitivity); pseudomonasData.forEach(ab =>{ %>
      <td>
        <div class="ab-sensi-container">
          <strong class="ab-heading"><%=ab.name %></strong>

          <p><%= current_ab[ab.name] %></p>
        </div>
      </td>
      <% }) %>
    </tr>

    <% } %> <% current_ab = {} %>
  </table>
  <%if(sample.remarks){ %>
    <p><strong>Remarks:</strong> <%= sample.remarks %><p>
  <% } %>
  <hr />

  <p><strong>Physician:</strong> <%= sample.physician %></[]>
</div>
