<%-include("partials/header") %> <%-include("partials/navbar") %>

<div class="container">
  <div class="row">
    <h1><%=sample.sample_id%></h1>
  </div>
  <form class="row full-page-form" action="/update_progress" method="POST">
    <!-- Hidden -->
    <div class="row">
      <input type="hidden" name="sample_id" value="<%=sample.sample_id%>" />
    </div>
    <!-- Progress -->
    <div class="row">
      <div class="col-4 mb-3">
        <div class="input-group">
          <label class="input-group-text" for="inputGroupSelect01">Progress: </label>
          <select id="sample-progress" required name="progress" class="form-select">
            <option  <%=!sample.progress&&"selected"%> disabled hidden>Select Progress</option>
            <option <%=(sample.progress==="sterile")&&"selected"%>  value="sterile">Sterile</option>
            <option <%=(sample.progress==="contaminated")&&"selected"%>  value="contaminated">Contaminated</option>
            <option <%=(sample.progress==="growth")&&"selected"%>  value="growth">Growth</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Remarks -->
    <div class="row" id="sample-contaminated">
      <div class="mb-3">
        <label class="form-label">Remarks</label>
        <textarea class="form-control" name="remarks" column ="10" rows="3"><%=sample.remarks%></textarea>
      </div>
    </div>
    <!-- Growth -->
    <div class="row" id="sample-growth">
      <!-- Growth time -->
      <div class="col-lg-4 mb-3">
        <div class="input-group">
          <label class="input-group-text">Growth Time (minutes)</label>
          <input name="growth_time" value="<%=(sample.sensitivity && sample.sensitivity.growthTime) %>" type="number" class="form-control" />
        </div>
      </div>
      <!-- Anaerobic/ Aerobic -->
      <div class="col-lg-4 mb-3">
        <div class="form-radio d-flex justify-content-center">
          <input name="growth_type" type="radio" class="btn-check" id="aerobic" value="aerobic" <%=(sample.sensitivity&& sample.sensitivity.aerobic) && "checked" %> />
          <label class="btn btn-outline-dark me-2" for="aerobic">Aerobic</label>
          <input name="growth_type" type="radio" class="btn-check" id="anaerobic" value="anaerobic" <%=(sample.sensitivity&& sample.sensitivity.anaerobic) && "checked" %> />
          <label class="btn btn-outline-dark" for="anaerobic">Anaerobic</label>
        </div>
      </div>
      <!-- Bacteria Count -->
      <div class="col-lg-4 mb-3">
        <div class="input-group">
          <label class="input-group-text">Bacteria Count</label>
          <input name="bacterialCount" value="<%= sample.sensitivity && sample.sensitivity.bacterialCount %>" type="number" class="form-control" />
        </div>
      </div>
      <!-- Sensitivity Report -->
      <div class="sensitivity-report-editable">
        <% let sensi = sample.sensitivity %> <% let current_ab={} %>
        <div class="col-md-12 mb-2">
          <input <%=sensi&& sensi.staphylococcusPanel && sensi.staphylococcusPanel.length && "checked" %> class="form-check-input bacteria-panel" type="checkbox" value="staphylococcusPanel" />
          <label class="form-check-label mb-2" for="flexCheckDefault"> Staphylococcus Panel </label>

          <div class="panel-reaction-tables" id="staphylococcusPanel">
            <input class="form-label" type="text" name="staphylococcusName" value="<%= sensi && sensi.staphylococcusName %>" />

            <% current_ab = {} %> <% sensi&& sensi.staphylococcusPanel && sensi.staphylococcusPanel.forEach(item=> current_ab[item.antib]=item.sensitivity); %> <% staphylococcus.forEach((ab)=>{ %>
            <div class="m-2">
              <h5><%= ab.name %></h5>
              <div class="d-flex flex-column">
                <input class="form-check-input" <%= current_ab[ab.name] && ((current_ab[ab.name]==="S" ) &&"checked")%> type="radio" value="S" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> S </label>
                <input class="form-check-input" <%=current_ab[ab.name] && ((current_ab[ab.name]==="I" )&&"checked")%> type="radio" value="I" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> I </label>
                <input class="form-check-input" <%=current_ab[ab.name] &&( (current_ab[ab.name]==="R")&&"checked")%> type="radio" value="R" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> R </label>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <input <%=(sensi&& sensi.streptococussPanel && sensi.streptococussPanel.length) && "checked" %> class="form-check-input bacteria-panel" type="checkbox" value="streptococussPanel" />
          <label class="form-check-label mb-2" for="flexCheckDefault"> Streptococuss Panel </label>

          <div class="panel-reaction-tables" id="streptococussPanel">
            <input class="form-label" type="text" name="streptococussName" value="<%= sensi && sensi.streptococussName %>" />
            <% current_ab = {} %> <% sensi && sensi.streptococussPanel && sensi.streptococussPanel.forEach(item=> current_ab[item.antib]=item.sensitivity); %> <% streptococuss.forEach(ab=>{ %>
            <div class="m-2">
              <h5><%= ab.name %></h5>
              <div class="d-flex flex-column">
                <input class="form-check-input" <%= current_ab[ab.name] && ((current_ab[ab.name]==="S" ) &&"checked")%> type="radio" value="S" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> S </label>
                <input class="form-check-input" <%= current_ab[ab.name] && ((current_ab[ab.name]==="I" ) &&"checked")%> type="radio" value="I" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> I </label>
                <input class="form-check-input" <%= current_ab[ab.name] && ((current_ab[ab.name]==="R" ) &&"checked")%> type="radio" value="R" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> R </label>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <input <%=(sensi&& sensi.gramNegativePanel && sensi.gramNegativePanel.length) && "checked" %> class="form-check-input bacteria-panel" type="checkbox" value="gramNegativePanel" />
          <label class="form-check-label mb-2" for="flexCheckDefault"> Gram Negative Panel </label>

          <div class="panel-reaction-tables" id="gramNegativePanel">
            <input class="form-label" type="text" name="gramNegativeName" value="<%= sensi && sensi.gramNegativeName %>" />
            <% current_ab = {} %> <% sensi && sensi.gramNegativePanel && sensi.gramNegativePanel.forEach(item=> current_ab[item.antib]=item.sensitivity); %> <% gramNegative.forEach(ab=>{ %>
            <div class="m-2">
              <h5><%= ab.name %></h5>
              <div class="d-flex flex-column">
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="S" ) &&"checked")%> value="S" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> S </label>
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="I" ) &&"checked")%> value="I" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> I </label>
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="R" ) &&"checked")%> value="R" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> R </label>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <input <%=(sensi&& sensi.pseudomonasPanel && sensi.pseudomonasPanel.length) && "checked" %> class="form-check-input bacteria-panel" type="checkbox" value="pseudomonasPanel" />
          <label class="form-check-label mb-2" for="flexCheckDefault"> Pseudomonas Panel </label>

          <div class="panel-reaction-tables" id="pseudomonasPanel">
            <input class="form-label" type="text" name="pseudomonasName" value="<%= sensi && sensi.pseudomonasName %>" />
            <% current_ab = {} %> <% sensi&& sensi.pseudomonasPanel && sensi.pseudomonasPanel.forEach(item=> current_ab[item.antib]=item.sensitivity); %> <% pseudomonas.forEach(ab=>{ %>
            <div class="m-2">
              <h5><%= ab.name %></h5>
              <div class="d-flex flex-column">
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="S" ) &&"checked")%> value="S" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> S </label>
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="I" ) &&"checked")%> value="I" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> I </label>
                <input class="form-check-input" type="radio" <%= current_ab[ab.name] && ((current_ab[ab.name]==="R" ) &&"checked")%> value="R" name="<%=ab.panel%>$<%=ab.name%>" />
                <label class="form-check-label m-2"> R </label>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div>
      <a href="/" class="btn btn-outline-primary"><%= sample.sensitivity?"Cancel":"Add Later" %> </a>

      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<%-include("partials/footer") %>
<script src="/js/progress_update.js"></script>
